bin/local.sh
*.pyc
._SafeTrash
bin/ext/src/*/
bin/ext/bfast
bin/ext/samtools
bin/ext/pysam
bin/ext/bed*
bin/ext/*Bed*
bin/ext/razip
bin/ext/bgzip
bin/ext/tabix*
bin/ext/groupBy
bin/ext/overlap
bin/ext/pairToPair
jobs/*
results/*
indexes/*
